---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const series = Object.values(
    import.meta.glob("../../../content/series/*.md", { eager: true })
  );

  return series.map((serie) => ({
    params: { slug: serie.frontmatter.slug },
    props: { serie },
  }));
}

const { serie } = Astro.props;
const { title, images } = serie.frontmatter;
const Content = serie.Content;
---


<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{title} – Raphaelle Brui</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="page-series">
<Layout title={`${title} – Raphaelle Brui`}>
  <main class="series">

    <section class="series-intro">
      <h1>{title}</h1>
      <div class="series-text">
        <Content />
      </div>
    </section>

    <section class="series-images">
      {images.map(image => (
        <figure>
          <img src={image.url} alt={image.title || ""} />
          <figcaption>
            {image.title && <strong>{image.title}</strong>}
            {image.caption && <p>{image.caption}</p>}
          </figcaption>
        </figure>
      ))}
    </section>

  </main>
</Layout>


  </body>
</html>
