---
import "../styles/home.css";
import Layout from "../layouts/Layout.astro";

/* Séries */
const modules = import.meta.glob("../../content/series/*.md", { eager: true });
const series = Object.values(modules);

const pickedSerie = series.length
? series[Math.floor(Math.random() * series.length)]
: null;

const { title, images, Content, slug, rawContent } = pickedSerie.frontmatter;

const pickedImage = images[Math.floor(Math.random() * images.length)]

/* Teaser */
const raw = pickedSerie ? await pickedSerie.rawContent() : "";
const noHtml = raw.replace(/<[^>]*>/g, "");
const plain = noHtml.replace(/\s+/g, " ").trim();
const teaser = plain.length > 120 ? plain.slice(0, 120) + "…" : plain;

---



<Layout title="Raphaelle Brui" bodyClass="home">
  <main class="hero">
    {pickedSerie && (
      <>
        {/* <img src={image.url} alt={image.title} /> */}
        <div class="hero fullscreen-image" style={`--hero-image: url(${pickedImage.url});`} />

        <div class="overlay">
          <h2>{title}</h2>
          <p>{teaser}</p>
          <a href={`/${slug}/`}>
            Voir la série →
          </a>
        </div>
      </>
    )}
  </main>
</Layout>


    <!-- NETLIFY IDENTITY (INDISPENSABLE) -->
    <script
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      defer
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const hash = window.location.hash || "";
        const hasToken =
          hash.includes("recovery_token") ||
          hash.includes("invite_token") ||
          hash.includes("confirmation_token");

        if (hasToken && window.netlifyIdentity) {
          window.netlifyIdentity.init();
        }
      });
    </script>
